<p id="notice"><%= notice %></p>

<h2><%= @user.name %></h2>
<h2><%= @fitbit_info %> </h2>

<button id='get-data-day'>day</button>
<button id='get-data-week'>week</button>
<button id='get-data-month'>month</button>

<div id="summary"></div> 

<div id="buildings"></div>

<div id="walks"></div>


<!--<%= link_to 'Back', users_path %>-->
