<!DOCTYPE html>
<html>
  <head>
    <title>My FitCity</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Wire+One|Oswald' rel='stylesheet' type='text/css'>
  </head>
  <body class="welcome">
      <p id="tagline">What have you been up to?</p>
      
      <button id="view-stats">Let's do this!</button>

      <div class='modal-form'></div>
  </body>
</html>

