<!DOCTYPE html>
<html>
  <head>
    <title>My FitCity</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <h1>My FitCity</h1>
    <p>What can you do?</p>

    <button id="view-stats">View my stats</button>

    <div class='modal-form'></div>

    <%= yield %>

  </body>
</html>

