<!DOCTYPE html>
<html>
  <head>
    <title>fit|city</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Wire+One|Oswald' rel='stylesheet' type='text/css'>
  </head>

  <body id="welcome" >
      <p id="tagline">What have you been up to?</p>
     
      
      <div class='modal-form'></div>

      <button id='how-it-works'> Let's do this!</button>
      <div id='test'> 
      <!--   <button id="view-stats">Let's do this!</button> -->
      </div>

         <!-- <button id='how-it-works'> Let's do this!</button> -->
  </body>

      </div>
    </div>
  </div>
</html>

